﻿@model IEnumerable<Domain.Entities.Match>
@{
    ViewData["Title"] = "GetCurrentUserMatches";
}

<h1>Current User Matches</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
            <th>
                Points
            </th>
            <th>
                Is won
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Word.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWon)
            </td>
        </tr>
            }
        }
    </tbody>
</table>