﻿@model Common.Models.MatchViewModel
@{
    ViewData["Title"] = "GetGameView";
}

<h1>Game View</h1>

<div class="row">
    <div class="col-md-4">
        <form id="game-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label id="question-label" class="control-label">@Model.Question</label>
                <div id="answer-container">
                    <input id="answer-hidden" type="password" disabled value="@Model.Answer" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <input id="wordId" asp-for="WordId" value="@Model.WordId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="UserAnswer" class="control-label"></label>
                <input id="answer" asp-for="UserAnswer" class="form-control" />
                <input id="answer-val" hidden value="@Model.Answer" asp-for="Answer"/>
                <input id="answer-buff" asp-for="UserAnswerBuff" hidden/>
                <input id="try-count" value="0" asp-for="TryCount" type="number" hidden/>
                <input id="defaultCounter" asp-for="DefaultCounter" type="number" value="0" hidden/>
                <span asp-validation-for="UserAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="word" type="button" class="btn btn-primary">Угадать слово!</button>
                <button id="letter" type="button" class="btn btn-warning">Угадать букву.</button>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div id='win-modal' class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вы выиграли! Слово: @Model.Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button id="reload" type="button" class="btn btn-primary">Сыграть еще</button>
            </div>
        </div>
    </div>
</div>

<div id='los-modal' class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Вы проиграли... Слово: @Model.Answer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button id="reload" type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('#word').click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Match/WishWord/",
                data: {
                    UserAnswer: $('#answer').val(),
                    Question: $('#question-label').text(),
                    WordId: $('#wordId').val(),
                    Answer: $('#answer-val').val()
                },
                success: function(result) {
                    if (result.isWon) {
                        $('#win-modal').modal('show');
                    } else {
                        $('#los-modal').modal('show');
                    }
                },
                error: function(result) {
                    alert(result);
                }
            });
        });
    </script>
    <script>
        $('#letter').click(function(e) {
            e.preventDefault();
            var counterInput = $('#try-count');
            var counter = parseInt($('#try-count').val());

            var defaultCounter = parseInt($('#defaultCounter').val());
            var defCounterInput = $('#defaultCounter');
            $('#defaultCounter').val(defaultCounter + 1);
            console.log($('#defaultCounter').val());

            var answerHidden = $('#answer-hidden');
            var answer = $('#answer');
            var answerContainer = $('#answer-container');
            var answerBuff = $('#answer-buff');

            $.ajax({
                type: "POST",
                url: "/Match/WishLetter/",
                data: {
                    UserAnswerChar: $('#answer').val(),
                    Question: $('#question-label').text(),
                    WordId: $('#wordId').val(),
                    Answer: $('#answer-val').val(),
                    UserAnswerBuff: answerBuff.val(),
                    TryCount: $('#try-count').val(),
                    DefaultCounter: $('#defaultCounter').val()
                },
                success: function(result) {
                    if (result.isWon) {
                        alert(result.message);
                        answer.val('');
                        answerHidden.remove();
                        answerContainer.append(
                            '<input id="answer-hidden" type="text" disabled value="' +
                            result.word +
                            '" class="form-control"/>');
                        answerBuff.val(result.word);
                        defCounterInput.val(defaultCounter + 1);
                    } else if (result.isFinish) {
                        alert(result.message + 'слово: ' + result.word + '');
                        window.location.reload();
                    } else {
                        alert(result.message);
                        answerBuff.val(result.word);
                        counterInput.val(counter + 1);
                        answer.val('');
                    }
                },
                error: function(result) {
                    alert(result);
                }
            });
        });
    </script>
    <script>
        $('#reload').click(function(e) {
            e.preventDefault();
            window.location.reload();
        });
    </script>
}