﻿@model IEnumerable<Common.Models.UserPointViewModel>
@{
    ViewData["Title"] = "GetUsersWithPoints";
}

<h1>Get UsersWith Points</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User email
            </th>
            <th>
                Points sum
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PointsSum)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>