﻿@model IEnumerable<Domain.Entities.Word>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model!=null)
    {
        foreach (var item in Model)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Question)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Answer)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Creator.Email)
                 </td>
                 <td>
                     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                     <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 </td>
             </tr>
         }
    }
    </tbody>
</table>